<div class="banner">
  <img src="https://images.unsplash.com/photo-1585647347384-2593bc35786b?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D alt=">
</div>
<div class="new-lists p-5">
  <div class="new-list">
    <h1>Create a new <strong>list</strong> !</h1>
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%# <%= f.input :photo, as: :file %>
      <%= f.submit "Submit", class: "btn btn-warning" %>
    <% end %>
  </div>
</div>
